<!DOCTYPE html>
<html>
<div class="cardapio">
    <ul class="titulo_cardapio">
        <li class="cardapio_titulo">CARDÁPIO🍩</li>
    </ul>

    <section class="apres">
        <h2 class="desc">Veja abaixo os donuts disponíveis no nosso cardápio. Consulte-nos para mais informações.
        </h2>
    </section>

    <ul class="produtos">
        <li>
            <h3>Donuts Homer</h3>
            <img src="../../assets/img/donut1.png" alt="Donuts Homer">
            <h4>R$10,00</h4>
        </li>
        <li>
            <h3>Donuts de chocolate</h3>
            <img src="../../assets/img/donut2.png" alt="Donuts de chocolate">
            <h4>R$10,00</h4>
        </li>
        <li>
            <h3>Donuts Simples</h3>
            <img src="../../assets/img/donut3.png" alt="Donuts Simpes">
            <h4>R$10,00</h4>
        </li>
    </ul>
    <ul class="produtos">
        <li>
            <h3>Donuts Homer</h3>
            <img src="../../assets/img/donut1.png" alt="Donuts Homer">
            <h4>R$10,00</h4>
        </li>
        <li>
            <h3>Donuts de chocolate</h3>
            <img src="../../assets/img/donut2.png" alt="Donuts de chocolate">
            <h4>R$10,00</h4>
        </li>
        <li>
            <h3>Donuts Simples</h3>
            <img src="../../assets/img/donut3.png" alt="Donuts Simpes">
            <h4>R$10,00</h4>
        </li>
    </ul>
    <ul class="produtos">
        <li>
            <h3>Donuts Homer</h3>
            <img src="../../assets/img/donut1.png" alt="Donuts Homer">
            <h4>R$10,00</h4>
        </li>
        <li>
            <h3>Donuts de chocolate</h3>
            <img src="../../assets/img/donut2.png" alt="Donuts de chocolate">
            <h4>R$10,00</h4>
        </li>
        <li>
            <h3>Donuts Simples</h3>
            <img src="../../assets/img/donut3.png" alt="Donuts Simpes">
            <h4>R$10,00</h4>
        </li>
    </ul>
</div>
<app-foot></app-foot>

</html>