<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
</head>

<body>
  <header>
    <div class="logo_caixa">
        <img src="../assets/img/logo.png" title="Sweet Dreams" class="logo"/>
        <nav>
            <ul>
                <li><a routerLink="home" routerLinkActive="active">Home |</a></li>
                <li><a routerLink="cardapio" routerLinkActive="active"> Cardápio |</a></li>
                <li><a routerLink="contato" routerLinkActive="active"> Contato |</a></li>
                <li><a routerLink="login" routerLinkActive="active"> Cadastro</a></li>
            </ul>
        </nav>
    </div>
</header>

<router-outlet></router-outlet>

<footer></footer>