<!--banner--->
<img class="banner" src="../../assets/img/sprinkles.jpeg">
<!---Conteudo da página--->
<main>
    <section class="principal">
        <h2 class="titulo_principal">SOBRE NÓS🍩</h2>
        <img class="donuts" src="../../assets/img/donuts.png" alt="Donuts:">
        <p> Localizada na melhor região de São Paulo <strong> a mais deliciosa loja de donuts Sweet Dreams</strong>
            traz para o mercado os melhors donuts da região</p>

        <p id="missão"> Nossa missão é: <em><strong> proporcionar sabores incríveis para os nossos
                    clientes.</strong></em></p>

        <p>Oferecemos diversos sabores deliciosos. Atendimento de alto padrão de excelência e agilidade.</p>
    </section>

    <section class="apres">
        <h2 class="desc">Veja abaixo os donuts disponíveis no nosso cardápio. Consulte-nos para mais informações.
        </h2>
    </section>

    <ul class="itens">
        <li>
            <h3>Donuts Homer</h3>
            <img src="../../assets/img/donut1.png" alt="Donuts Homer">
            <h4>R$10,00</h4>
        </li>
        <li>
            <h3>Donuts de chocolate</h3>
            <img src="../../assets/img/donut2.png" alt="Donuts de chocolate">
            <h4>R$10,00</h4>
        </li>
        <li>
            <h3>Donuts Simples</h3>
            <img src="../../assets/img/donut3.png" alt="Donuts Simples">
            <h4>R$10,00</h4>
        </li>
    </ul>
    <br>
    <div class="pedido">
        <app-forms></app-forms>
        <br />
        <br />
    </div>

    <app-foot></app-foot>
</main>